body{
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    background-color: #c0cbd3 ;
}
@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}